/* Master styles */
body {
    margin: 0px;

    background-image: url("https://www.pexels.com/photo/photography-of-macbook-half-opened-on-white-wooden-surface-633409/");
 background-color: black;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav styles */

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.left-side {
    display: flex;

}

.nav-wrapper> .left-side > div {
    display: flex;
    margin-right: 25px;
    font-size: 1.3em;
    text-transform: uppercase; 
    
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 3px solid rgb(255, 94, 0);
}

.nav-link-wrapper a :hover {
    color: black;
}

/* Portfolio styles */

