@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

html{
    font-size: 10px;
    font-family: 'Roboto Mono', monospace;

}

a{
    text-decoration: none;
}

.container{

    min-height: 100vh;
    width: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(255, 89, 0);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    margin-top: 30px;
    transition: .4s ease;
    transition-property: background-color, color;

}
.cta:hover {
    color: white;
    background-color: orangered ;
}

/* about Section*/

    .about-img {

        float: left;
        justify-content: ;


    }


    #about .about {
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;

        background-color: gray;

    }
    
    #about .col-right h2{
        font-size: 1.75rem;
        font-weight: bold 500;
        letter-spacing: .3rem;
        margin-bottom: 10px;
    }

    #about .col-right p {
        margin-bottom: 20px;
    }

    #about .col-right .cta{
        margin-bottom: 20px;
        padding: 10px 20px;
        font-size: 2rem;
    }

    #about .section-title{
        margin-top: 10px;
        font-size: 4rem;
        font-weight: 300;
        color: white;
        margin-bottom: 100px;
        text-transform: uppercase;
        letter-spacing: .2rem;
        text-align: center;

    }
    #about .section-title span{
        color: orangered;
        
    }
    #about .about-top p{
        
        font-size: 1.6rem;
        margin-top: 5px;
        line-height: 2.5rem;
        font-weight: 300;
        letter-spacing: .05rem;

    }

   
    /* about Section End */


    /* projects */
#projects {
    height: 100vh;
        background-color: black;
        align-items: center;
        justify-content: center;
        display:flex;
        
    }

    #projects h5 {

        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: white;
    }

    /* skills */
#skills {
    height: 100vh;
        background-color: gray;
        align-items: center;
        justify-content: center;
        display:flex;
    }

    #skills h6{

        display: block;
        width: fit-content;
        font-size: 4rem;
        position: relative;
        color: white;
    }

/* contact */
#contact{
    height: 100vh;
    background-color:black;
    align-items: center;
    justify-content: center;
    display:flex;
}

#contact h7{

    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white
}


/* background Hero Section */
#hero{
    background-image: url("Img_website/adrian-kirkegaard-nCrrvuoyftA-unsplash.jpg");
    /* background-size:  */
    /* background-position: */
    position: relative; 
    z-index: 1;         
}
#hero::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: -1;
}

#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;

}

#hero h1{

    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color:transparent;
    animation: name_reveal .75s ease forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: my_name_reveal .75s ease forwards;
    animation-delay: 3s;
    
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: orangered;
    animation: reveal_name_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 2s;
}#hero h1:nth-child(3) span{
    animation-delay: 3s;
}




/* End background hero section */

/* Nav style */

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
}

.left-side {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.nav-wrapper> .left-side > div {
    display: flex;
    margin-right: 25px;
    font-size: 1.3em;
    text-transform: uppercase; 
    
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s
}

.nav-link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 3px solid rgb(255, 94, 0);
}

.nav-link-wrapper a :hover {
    color: black;
}

     

/* keyframes */
@keyframes reveal_name_box {
    50% { 
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}


@keyframes name_reveal{
    100% {
        color: white;
    }
}

@keyframes my_name_reveal{
    100% {
        color: orangered;
        font-weight: 450 ;
        
    }
}
/*end of keyframes */